

/* VP DIGITAL TEAM ================================*/
/*=================================================*/
html {height: 100%; -webkit-backface-visibility: hidden; overflow: hidden;}
body {height: 100%; font-size: 12px; font-family: arial; background: #fff;}
a {text-decoration: none; color: inherit;}
header, nav, main, section, footer, aside, article {display: block;}
.absolute {position: absolute;}
.relative {position: relative;}
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;}
.clearfix {display: inline-block;}
.clearfix {display: block; zoom: 1;}
.clear {clear:both;}
.text-indent {text-indent: 100%;white-space: nowrap;overflow: hidden;}
.left {float: left;}
.right {float: right;}
input[type="button"], input[type="submit"] {-webkit-appearance: none}


/* UNIVERSAL =====================================*/
/*================================================*/

	h1, h2, h3, h4, h5, h6 {
		display: block;
		font-weight: normal;
	}
	
	.clickable {
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-webkit-tap-highlight-color: transparent; /* For some Androids */
	}
	
	.radio1-cont {
		width: 23px;
		height: 24px;
	}
	
		div.radio1,
		div.checkbox1 {
			background-size: 100% auto;
			-webkit-tap-highlight-color: rgba(0,0,0,0);
			-webkit-tap-highlight-color: transparent; /* For some Androids */
		}
	
/* LAYER =========================================*/
/*================================================*/
.layer {
	position: absolute;
	display: block;
	z-index: 1;
	/*opacity: 0;*/
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	-webkit-backface-visibility: hidden;
}

.layer.active {
	display: block;
	z-index: 10;
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	/*
	animation: layerEnter 0.4s;
	-moz-animation: layerEnter 0.4s;
	-webkit-animation: layerEnter 0.4s;
	*/
}

	@keyframes layerEnter {
		0% {
			opacity: 0;
			transform: scale(0.8) translate3d(0, 0, 0);
			-webkit-transform: scale(0.8) translate3d(0, 0, 0);
		}
		100% {
			opacity: 1;
			transform: scale(1) translate3d(0, 0, 0);
			-webkit-transform: scale(1) translate3d(0, 0, 0);
		}
	}
	
	@-moz-keyframes layerEnter {
		0% {
			opacity: 0;
			transform: scale(0.8) translate3d(0, 0, 0);
			-webkit-transform: scale(0.8) translate3d(0, 0, 0);
		}
		100% {
			opacity: 1;
			transform: scale(1) translate3d(0, 0, 0);
			-webkit-transform: scale(1) translate3d(0, 0, 0);
		}
	}
	
	@-webkit-keyframes layerEnter {
		0% {
			opacity: 0;
			transform: scale(0.8) translate3d(0, 0, 0);
			-webkit-transform: scale(0.8) translate3d(0, 0, 0);
		}
		100% {
			opacity: 1;
			transform: scale(1) translate3d(0, 0, 0);
			-webkit-transform: scale(1) translate3d(0, 0, 0);
		}
	}
	
	.layer-overlay1 {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #fff;
		opacity: 0;
		transition: opacity 0.4s;
		-moz-transition: opacity 0.4s;
		-webkit-transition: opacity 0.4s;
		z-index: 100;
	}
	
	.layer-overlay1.active {
		opacity: 1;
		transition: opacity 0.4s;
		-moz-transition: opacity 0.4s;
		-webkit-transition: opacity 0.4s;
	}
	
	.layer-overlay2 {
		position: fixed;
		width: 0%;
		height: 0%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #fff;
		opacity: 0;
		transition: opacity 0.3s;
		-moz-transition: opacity 0.3s;
		-webkit-transition: opacity 0.3s;
		z-index: 100;
	}
	
	.layer-overlay2.active {
		opacity: 1;
		width: 100%;
		height: 100%;
		transition: opacity 0.3s;
		-moz-transition: opacity 0.3s;
		-webkit-transition: opacity 0.3s;
	}

/* PANEL =========================================*/
/*================================================*/

.panel-cont {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

	.panel-side {
		position: fixed;
		width: 266px;
		height: 100%;
		background: #353535;
		z-index: 1;
	}
	
	.panel-main {
		position: relative;
		width: auto;
		height: 100%;
		z-index: 2;
		transition: 0.3s;
		-webkit-transition: 0.3s;
	}
	
	.panel-main.active {
		transform: translate3d(266px, 0, 0);
		-moz-transform: translate3d(266px, 0, 0);
		-webkit-transform: translate3d(266px, 0, 0);
	}
	
		.panel-overlay {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: black;
			opacity: 0;
			pointer-events: none;
			cursor: pointer;
			z-index: 10;
			transition: 0.4s;
			-webkit-transition: 0.4s;
		}
		
		.panel-main.active .panel-overlay {
			pointer-events: auto;
			opacity: 0.5;
			z-index: 10;
		}

/* WRAPPER =======================================*/
/*================================================*/

.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	background: #f0e8d5;
}

.home-wrapper {
	background: url('../img/home-bg.jpg') no-repeat;
	background-size: cover;
	background-position: center 50px;
}

.chat-wrapper {
	height: 100%;
}

/* HEADER ========================================*/
/*================================================*/

	.header {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 50px;
		background: #c3262e;
		z-index: 10;
	}
	
		.menu-icon {
			position: absolute;
			width: 45px;
			height: 50px;
			left: 0;
			top: 0;
			cursor: pointer;
		}
		
		.menu-icon:active {
			background: maroon;
		}
		
		.logo-cont {
			/*
			position: absolute;
			width: 188px;
			height: 50px;
			top: 0;
			left: 50%;
			margin-left: -94px;
			*/
			
			display: block;
			width: 188px;
			height: 50px;
			margin: 0 auto;
		}
		
			.logo {
				width: 188px;
				height: 50px;
			}
			
/* MENU ==========================================*/
/*================================================*/
	
	.menu {
	}
	
		.menu-list {
		}
		
			.menu-list-li {
				height: 50px;
				border-bottom: solid 2px #303030;
			}
			
				.menu-list-link {
					display: block;
					height: 50px;
				}
				
				.menu-list-link:active {
					background: #c3262e;
					box-shadow: 5px 0 #fbb232 inset;
				}
				
					.menu-list-icon-cont {
						display: block;
						float: left;
						width: 43px;
						height: 50px;
						margin-left: 14px;
					}
					
						.menu-list-icon {
							display: block;
							width: 43px;
							height: 50px;
							background: url('../img/menu-icon2.png') no-repeat;
							background-size: 43px 254px;
						}
						
						.menu-list-icon.icon2 {
							background-position: 0 -51px;
						}
						
						.menu-list-icon.icon3 {
							background-position: 0 -102px;
						}
						
						.menu-list-icon.icon4 {
							background-position: 0 -153px;
						}
						
						.menu-list-icon.icon5 {
							background-position: 0 -204px;
						}
						
					.menu-list-text {
						display: block;
						color: white;
						font-size: 16px;
						font-family: 'Futura Bold', Arial, sans-serif;
						margin-left: 72px;
						padding-top: 19px;
						text-transform: uppercase;
					}
	
/* CONTENT ========================================*/
/*=================================================*/	

	.main {
		position: relative;
		min-height: 100%;
		margin: 0 auto;
		padding-top: 50px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	
	.standard1-main {
		background: #f0e8d5;
	}
	
	.home-main {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	
	.article-main,
	.chat-main {
		min-height: 0;
		height: 100%;
		background: #f0e8d5;
	}
	
		.chat-main .bx-wrapper {
			background: #f0e8d5;
			height: 100%;
			border-top: none;
		}
		
			.chat-main .bx-viewport {
				background: #f0e8d5;
				height: 100%;
				border-top: none;
			}
			
	.toko-main {
		min-height: 0;
		height: 100%;
	}
			
/* STANDARD 1 =====================================*/
/*=================================================*/	
	.standard1-head {
		position: relative;
		z-index: 2;
	}
	
		.standard1-head-title {
			height: 29px;
			padding-top: 11px;
			color: white;
			font-size: 18px;
			font-family: 'Futura Bold', Arial, sans-serif;
			text-align: center;
			text-transform: uppercase;
			background: #fb8632;
		}
		
		.standard1-head-desc {
			background: white;
			text-align: center;
			padding: 11px 7.8125% 10px 7.8125%;
			border-bottom: solid 2px #dbd3c0;
		}
		
			.standard1-head-desc-text {
				color: #404040;
				font-size: 17px;
				font-family: 'Futura', Arial, sans-serif;
				line-height: 20px;
			}
	
	.standard1-content {
		padding: 0 3.125%;
	}
	
		.standard1-menu {
			text-align: center;
			padding-top: 10px;
		}
		
			.standard1-menu-li {
				display: inline-block;
				margin-bottom: 8px;
				margin-right: 4px;
			}
			
				.standard1-menu-link {
					display: block;
					position: relative;
					width: 291px;
					height: 121px;
					border: solid 1px #cacaca;
					border-radius: 4px;
					overflow: hidden;
				}
				
				.standard1-menu-link.consult-link-chat {
					background: url('../img/consult/chat.jpg') no-repeat;
					background-size: cover;
				}
				
				.standard1-menu-link.consult-link-message {
					background: url('../img/consult/question.jpg') no-repeat;
					background-size: cover;
				}
				
				.standard1-menu-link.consult-link-article {
					background: url('../img/consult/article.jpg') no-repeat;
					background-size: cover;
				}
				
				.standard1-menu-link.games-link-dpp {
					background: url('../img/games/dpp.jpg') no-repeat;
					background-size: cover;
				}
				
				.standard1-menu-link.games-link-mof {
					background: url('../img/games/mof.jpg') no-repeat;
					background-size: cover;
				}
				
					.standard1-menu-text-cont {
						position: absolute;
						width: 100%;
						min-height: 26px;
						background: #c3262e;
						bottom: 0;
					}
					
						.standard1-menu-text-topBorder {
							position: absolute;
							width: 100%;
							height: 5px;
							top: -4px;
							background: url('../img/standard1-menu-topBorder.png') repeat-x;
						}
						
						.standard1-menu-text {
							color: white;
							font-size: 15px;
							font-family: 'Futura Bold', Arial, sans-serif;
							text-align: center;
							text-transform: uppercase;
							padding-top: 6px;
						}
						
			.standard1-menu-li2 {
				display: inline-block;
				margin: 4px;
				margin-bottom: 8px;
			}
			
				.standard1-menu-link2 {
					display: block;
					position: relative;
					width: 141px;
					height: 141px;
					border: solid 1px #cacaca;
					border-radius: 4px;
					overflow: hidden;
					background: white;
				}
				
				.standard1-menu-link2.record-link-glucose {
					background: #fff url('../img/record/menu.png') no-repeat;
					background-size: 100% auto;
				}
				
				.standard1-menu-link2.record-link-weight {
					background: #fff url('../img/record/menu.png') no-repeat;
					background-size: 100% auto;
					background-position: 0 -143px;
				}
				
				.standard1-menu-link2.record-link-food {
					background: #fff url('../img/record/menu.png') no-repeat;
					background-size: 100% auto;
					background-position: 0 -286px;
				}
				
				.standard1-menu-link2.record-link-history {
					background: #fff url('../img/record/menu.png') no-repeat;
					background-size: 100% auto;
					background-position: 0 -429px;
				}
				
					.standard1-menu-text2-cont {
						position: absolute;
						width: 100%;
						min-height: 26px;
						background: #e9e9e9;
						bottom: 0;
					}
					
						.standard1-menu-text2-topBorder {
							position: absolute;
							width: 100%;
							height: 7px;
							top: -6px;
							background: url('../img/standard1-menu-topBorder2.png') repeat-x;
						}
						
						.standard1-menu-text2 {
							color: #c3262e;
							font-size: 14px;
							font-family: 'Futura Bold', Arial, sans-serif;
							text-align: center;
							text-transform: uppercase;
							padding-top: 6px;
						}
/* HOME ===========================================*/
/*=================================================*/	
	
	.home-menu-cont {
		position: absolute;
		width: 100%;
		height: 116px;
		background: white;
		background: rgba(255, 255, 255, 0.5);
		bottom: 0;
		padding: 0;
	}
	
		.home-menu-row {
			height: 96px;
			padding: 0;
		}
		
			.home-menu-col {
				padding: 0;
				padding-top: 18px;
				width: 25%;
				height: 98px;
			}
			
				.home-menu-icon {
					width: 59px;
					height: 60px;
					background: url('../img/home-menu-icon.png') no-repeat;
					background-size: 59px 244px;
					margin: 0 auto 3px auto;
				}
				
				.home-menu-icon.icon2 {
					background-position: 0 -61px;
				}
				
				.home-menu-icon.icon3 {
					background-position: 0 -122px;
				}
				.home-menu-icon.icon4 {
					background-position: 0 -183px;
				}
				
				.home-menu-text {
					width: 64px;
					color: #6e368d;
					font-size: 10px;
					font-family: 'Futura Bold', Arial, sans-serif;
					margin: 0 auto;
					text-align: center;
					text-transform: uppercase;
				}
				
/* MODAL ==========================================*/
/*=================================================*/
	.modal,
	.modal-loading {
		display: none;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: #242930;
		background: rgba(36, 41, 48, 0.93);
		z-index: 100;
	}
	
	.modal-loading {
		z-index: 101;
	}
	
		.modal-loading-subcont {
			position: absolute;
			text-align: center;
			width: 100%;
			min-height: 40px;
			top: 50%;
			margin-top: -20px;
		}
		
			.modal-loading-icon,
			.modal-loading-icon2 {
				display: block;
				width: 16px;
				height: 16px;
				margin: 0 auto 6px auto;
			}
			
			.modal-loading-icon {
				animation: modal-loading-icon 1s infinite linear;
				-moz-animation: modal-loading-icon 1s infinite linear;
				-webkit-animation: modal-loading-icon 1s infinite linear;
			}
			
			@keyframes modal-loading-icon
			{
				from {
					transform: rotate(0deg);
					-moz-transform: rotate(0deg);
					-webkit-transform: rotate(0deg);
				}
				to {
					transform: rotate(360deg);
					-moz-transform: rotate(360deg);
					-webkit-transform: rotate(360deg);
				}
			}
			
			@-moz-keyframes modal-loading-icon
			{
				from {
					transform: rotate(0deg);
					-moz-transform: rotate(0deg);
					-webkit-transform: rotate(0deg);
				}
				to {
					transform: rotate(360deg);
					-moz-transform: rotate(360deg);
					-webkit-transform: rotate(360deg);
				}
			}
			
			@-webkit-keyframes modal-loading-icon
			{
				from {
					transform: rotate(0deg);
					-moz-transform: rotate(0deg);
					-webkit-transform: rotate(0deg);
				}
				to {
					transform: rotate(360deg);
					-moz-transform: rotate(360deg);
					-webkit-transform: rotate(360deg);
				}
			}
			
			.modal-loading-text,
			.modal-loading-text2 {
				color: white;
				font-size: 14px;
				font-family: 'Futura Bold', Arial, sans-serif;
				text-transform: uppercase;
				line-height: 18px;
			}
			
			.modal-loading-icon2 {
				width: 22px;
				height: 18px;
			}
			
				.modal-loading-text2 small {
					display: block;
					font-size: 10px;
					font-family: 'Futura', Arial, sans-serif;
				}
	
		.signup-head {
			height: 52px;
			border-bottom: solid 1px white;
		}
		
			.signup-title {
				color: white;
				font-size: 20px;
				font-family: 'Futura Bold', Arial, sans-serif;
				padding: 16px 0 0 7.125%;
			}
			
			.signup-close {
				position: absolute;
				width: 24px;
				height: 24px;
				top: 12px;
				right: 3.125%;
			}
			
				.signup-title-close-x {
				}
				
		.signup-content {
			height: 100%;
			
			margin-top: -53px;
			padding-top: 53px;
			
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
		}
		
			.signup-content-subcont {
				height: 100%;
				overflow-y: scroll;
				padding: 21px 7.8125%;
			
				box-sizing: border-box;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
			}
			
				.signup-content-text1 {
					color: white;
					font-size: 17px;
					font-family: 'Futura Bold', Arial, sans-serif;
					line-height: 20px;
					margin-bottom: 15px;
				}
				
				.signup-content-text1.b {
					margin-bottom: 3px;
				}
				
				.signup-form {
				}
				
					.signup-field {
						display: block;
						border: none;
						padding: 0;
						width: 100%;
						height: 40px;
						background: white url('../img/signup/icon/field.png') no-repeat;
						background-size: 22px 120px;
						background-position: 12px 0;
						border-radius: 4px;
						margin-bottom: 14px;
						color: #3d3d3d;
						font-size: 16px;
						font-family: 'Futura', Arial, sans-serif;
						padding-left: 47px;
						box-sizing: border-box;
						-moz-box-sizing: border-box;
						-webkit-box-sizing: border-box;
					}
					
					.signup-field.nohp {
						background-position: 12px -40px;
					}
					
					.signup-field.kota {
						background-position: 12px -80px;
					}
					
					.signup-form-notes {
						margin-top: -10px;
						margin-bottom: 10px;
						color: #cbcbcb;
						font-size: 10px;
						font-family: 'Futura', Arial, sans-serif;
					}
					
					.signup-form-profpic-cont {
						min-height: 53px;
						padding: 8px 8px 10px 8px;
						background: white;
						border-radius: 4px;
						margin-bottom: 23px;
					}
					
						.signup-form-profpic-img-cont {
							float: left;
							width: 53px;
							height: 53px;
							border-radius: 4px;
							overflow: hidden;
						}
						
							.signup-form-profpic-img {
								width: 53px;
								height: 53px;
							}
							
						.signup-form-profpic-detail {
							margin-left: 67px;
						}
						
							.signup-form-profpic-text {
								color: #cbcbcb;
								font-size: 14px;
								font-family: 'Futura', Arial, sans-serif;
								margin-bottom: 8px;
							}
							
							.signup-form-profpic-button-cont {
								position: relative;
								width: 150px;
								height: 26px;
								border-radius: 3px;
								background: #fbb232 url('../img/signup/icon/browse.png') no-repeat;
								background-size: 22px 18px;
								background-position: 7px 4px;
								overflow: hidden;
							}
							
								.signup-form-profpic-button-label {
									display: block;
									color: white;
									font-size: 12px;
									font-family: 'Futura Bold', Arial, sans-serif;
									margin-left: 38px;
									padding-top: 6px;
									text-transform: uppercase;
								}
								
								.signup-form-profpic-button {
									position: absolute;
									width: 100%;
									height: 100%;
									top: 0;
									left: 0;
									opacity: 0;
								}
							
				.signup-form-profpic-submit {
					display: block;
					width: 100%;
					height: 36px;
					border: none;
					padding: 0;
					background: #fbb232;
					border-radius: 4px;
					color: white;
					font-size: 17px;
					font-family: 'Futura Bold', Arial, sans-serif;
					text-transform: uppercase;
					margin-bottom: 20px;
				}
				
				
/* FOOD FIRST =====================================*/
/*=================================================*/
	
	.foodFirst-content {	
		height: 100%;
		
		margin-top: -53px;
		padding-top: 53px;
		
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
		
		.foodFirst-content-subcont {
			height: 100%;
			overflow-y: scroll;
			padding: 21px 7.8125%;
		
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
		}
		
			.foodFirst-field-cont {
				position: relative;
				height: 40px;
				margin-bottom: 14px;
			}
			
				.foodFirst-field {
					display: block;
					border: medium none;
					padding: 0px 46px 0 12px;
					width: 100%;
					height: 40px;
					background: white;
					border-radius: 4px;
					color: #3D3D3D;
					font-size: 16px;
					font-family: 'Futura',Arial,sans-serif;
					box-sizing: border-box;
					-moz-box-sizing: border-box;
					-webkit-box-sizing: border-box;
				}
				
				.foodFirst-field-unit {
					position: absolute;
					color: #3D3D3D;
					font-size: 16px;
					font-family: 'Futura',Arial,sans-serif;
					width: 36px;
					right: 0;
					top: 12px;
				}
				
			.foodFirst-choice-cont {
				background: white;
				padding: 4px 12px;
				border-radius: 4px;
				margin-bottom: 14px;
			}
			
				.foodFirst-choice {
				}
				
					.foodFirst-choice-li {
						padding: 5px 0;
					}
					
						.foodFirst-choice-radio-cont {
							float: left;
						}
						
							.foodFirst-choice-radio {
							}
							
						.foodFirst-choice-label {
							display: block;
							margin-left: 42px;
							color: #7c7c7c;
							font-size: 17px;
							font-family: 'Futura', Arial, sans-serif;
							padding-top: 2px;
						}
						
			.foodFirst-gender-cont {
				margin-bottom: 14px;
				height: 40px;
				border-radius: 4px;
				overflow: hidden;
			}
			
				.foodFirst-gender {
					float: left;
					width: 49.7%;
					height: 40px;
					background: white;
					
					box-sizing: border-box;
					-moz-box-sizing: border-box;
					-webkit-box-sizing: border-box;
				}
				
				.foodFirst-gender.pria {
				}
				
				.foodFirst-gender.wanita {
					float: right;
				}
				
				.foodFirst-gender.pria.active {
					background: #0db2f3;
				}
				
				.foodFirst-gender.wanita.active {
					background: #fe6cbf;
				}
				
					.foodFirst-gender-content {
						position: relative;
						text-align: center;
					}
					
						.foodFirst-gender-icon {
							position: relative;
							top: 7px;
							display: inline-block;
							width: 21px;
							height: 25px;
							margin-right: 6px;
							background: url('../img/record/food/gender.png') no-repeat;
							background-size: 100% auto;
						}
						
						.foodFirst-gender.pria .foodFirst-gender-icon {
						}
						
						.foodFirst-gender.pria.active .foodFirst-gender-icon {
							background-position: 0 -26px;
						}
						
						.foodFirst-gender.wanita .foodFirst-gender-icon {
							background-position: 0 -52px;
						}
						
						.foodFirst-gender.wanita.active .foodFirst-gender-icon {
							background-position: 0 -78px;
						}
						
						.foodFirst-gender-text {
							position: relative;
							top: 2px;
							font-size: 16px;
							font-family: 'Futura', Arial, sans-serif;
						}
						
						.foodFirst-gender.pria .foodFirst-gender-text {
							color: #0db2f3;
						}
						
						.foodFirst-gender.wanita .foodFirst-gender-text {
							color: #fe6cbf;
						}
						
						.foodFirst-gender.pria.active .foodFirst-gender-text,
						.foodFirst-gender.wanita.active .foodFirst-gender-text {
							color: #fff;
						}
						
				.foodFirst-gender-value {
					position: absolute;
					visibility: hidden;
				}
				
/* CHAT ===========================================*/
/*=================================================*/	

	.chat-tab-cont {
		position: relative;
		height: 23px;
		background: white;
		border-bottom: solid 3px #fbb232;
		overflow: hidden;
	}
	
		.chat-tab-list {
			position: absolute;
			width: 100%;
			height: 23px;
		}
		
			.chat-tab-list-li {
				position: absolute;
				width: 33.33333333333333333333333333333%;
				height: 16px;
				padding-top: 4px;
				text-align: center;
				color: #c3262e;
				font-size: 13px;
				font-family: 'Futura Bold', Arial, sans-serif;
			}
			
			.chat-tab-list-li.li1 {
				left: 0;
			}
			
			.chat-tab-list-li.li2 {
				left: 33.33333333333333333333333333333%;
			}
			
			.chat-tab-list-li.li3 {
				left: 66.66666666666666666666666666666%;
			}
			
			.chat-tab-list-li.active {
				border-bottom: solid 4px #fbb232;
			}
				
	.chat-slider-cont {
		width: 100%;
		height: 100%;
		overflow: hidden;
		margin-top: -26px;
		padding-top: 26px;
		box-sizing: border-box;
	}
	
		.chat-slider {
			width: 300%;
			height: 100%;
		}
		
			.chat-slider-li {
				float: left;
				width: 33.33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333%;
				height: 100%;
				overflow-y: scroll;				
				-webkit-transform: translate3d(0, 0, 0);
				-webkit-backface-visibility: hidden;
				-webkit-perspective: 1000;
				-webkit-overflow-scrolling: touch;
				position: relative;
			}

			.chat-slider-li-blackBoxFix {
					position: absolute; 
					top: 0; 
					left: 0; 
					right: 0; 
					bottom: 0; 
					color: transparent; 
					background-color: #F0E8D5; 
					z-index: -1; 
					overflow: hidden; 
					pointer-events: none;
				}
			
				.chat-content {
					padding-bottom: 50px;
				}
				
					.chat-head {
						height: 82px;
						padding: 8px 3.125% 10px 7.8125%;
						background: white;
						border-bottom: solid 2px #dbd1ba;
						margin-bottom: 13px;
					}
					
						.chat-head-img {
							display: block;
							float: left;
							width: 81px;
							height: 81px;
							border-radius: 42px;
						}
						
						.chat-head-detail {
							margin-left: 96px;
							padding-top: 8px;
						}
						
							.chat-head-name {
								color: #c3262e;
								font-size: 16px;
								font-family: 'Futura Bold', Arial, sans-serif;
								margin-bottom: 6px;
							}
							
							.chat-head-desc-cont {
                                color: #767676;
                                font-size: 12px;

                                font-family: 'Futura', Arial, sans-serif;
                                min-height: 27px;
                                margin-bottom: 6px;
                            }
                           
                                .chat-head-desc {
                                    margin-bottom: 7px;
                                }
                               
                                .chat-head-desc2 {
                                    margin-bottom: 7px;
                                    font-size: 9px;
                                    color: #adadad;
                                    text-transform: uppercase;
                                }

								
							.chat-head-status {
								color: #adadad;
								font-size: 11px;
								font-family: 'Futura Bold', Arial, sans-serif;
								text-transform: uppercase;
							}
							
								.chat-head-status.on span {
									color: #fbb232;
								}
							
						
					.chat-content-date-cont {
						position: relative;
						height: 0;
						border-top: solid 1px #e1d8c2;
						text-align: center;
						margin-bottom: 18px;
					}
					
						.chat-content-date {
							position: relative;
							color: #5a5a5a;
							font-size: 13px;
							font-family: 'Futura', Arial, sans-serif;
						    top: -7px;
							background: #f0e8d5;
							padding: 0 10px;
						}
					
					.chat-content-post1,
					.chat-content-post2 {
						min-height: 50px;
						padding: 0 3.125%;
						margin-bottom: 15px;
					}
					
						.chat-content-post-img {
							display: block;
							float: right;
							width: 46px;
							height: 46px;
							border-radius: 24px;
						}
						
						.chat-content-post-detail {
							position: relative;
							margin-right: 66px;
							background: white;
							border-radius: 4px;
							box-shadow: 0 2px #dbd1ba;
							min-height: 11px;
							padding: 8px 10px 28px 10px;
						}
						
							.chat-content-post-text-cont {
							}
							
								.chat-content-post-text {
									color: #3b3a3a;
									font-size: 15px;
									font-family: 'Futura', Arial, sans-serif;
									line-height: 18px;
								}
								
							.chat-content-post-time-cont {
								position: absolute;
								width: 48px;
								height: 14px;
								right: 8px;
								bottom: 7px;
							}

								.chat-content-post-time-icon {
									float: left;
									width: 13px;
									height: 14px;
									margin-right: 4px;
								}
								
								.chat-content-post-time {
									position: relative;
									top: 1px;
									color: #b3aa95;
									font-size: 10px;
									font-family: 'Futura', Arial, sans-serif;
								}
								
							.chat-content-post-detail-arrow1 {
								position: absolute;
								top: 19px;
								right: -8px;
								border-top: solid 5px transparent;
								border-bottom: solid 5px transparent;
								border-left: solid 8px #dbd1ba;
							}
							
							.chat-content-post-detail-arrow2 {
								position: absolute;
								top: 17px;
								right: -8px;
								border-top: solid 5px transparent;
								border-bottom: solid 5px transparent;
								border-left: solid 8px white;
							}
							
						/* POST2 */
						.chat-content-post2 .chat-content-post-img {
							float: left;
						}
						
						.chat-content-post2 .chat-content-post-detail {
							margin-right: 0;
							margin-left: 66px;
						}
								
							.chat-content-post2 .chat-content-post-detail-arrow1 {
								right: auto;
								left: -8px;
								border-left: none;
								border-right: solid 8px #dbd1ba;
							}
							
							.chat-content-post2 .chat-content-post-detail-arrow2 {
								right: auto;
								left: -8px;
								border-left: none;
								border-right: solid 8px white;
							}
							
					/* OFFLINE */
					.chat-content-schedule-cont {
						width: 93.75%;
						margin: 0 auto 9px auto;
					}
					
						.chat-content-schedule-list {
							border-radius: 4px;
							border: solid 1px #cacaca;
							overflow: hidden;
						}
						
							.chat-content-schedule-list-li {
								height: 41px;
								background: white;
								border-bottom: solid 1px #cacaca;
								color: #404040;
								font-size: 15px;
								font-family: 'Futura', Arial, sans-serif;
							}
							
							.chat-content-schedule-list-li.firstRow {
								height: 24px;
								background: #f4f4f4;
							}
							
							.chat-content-schedule-list-li:last-child {
								border-bottom: none;
							}
							
								.chat-content-schedule-list-col1 {
									float: left;
									width: 50%;
									text-align: center;
									padding-top: 12px;
								}
								
								.chat-content-schedule-list-col2 {
									float: right;
									width: 50%;
									color: #6e6e6e;
									font-size: 14px;
									font-family: 'Futura', Arial, sans-serif;
									text-align: center;
									padding-top: 13px;
								}
								
								.chat-content-schedule-list-li.firstRow .chat-content-schedule-list-col1,
								.chat-content-schedule-list-li.firstRow .chat-content-schedule-list-col2 {
									color: #4d4d4d;
									font-size: 13px;
									font-family: 'Futura Bold', Arial, sans-serif;
									padding-top: 5px;
								}
								
					.chat-content-ask-cont {
						width: 93.75%;
						height: 83px;
						margin: 0 auto;
						border: solid 1px #cacaca;
						border-radius: 4px;
						background: white;
					}
					
						.chat-content-ask-text {
							text-align: center;
							color: #404040;
							font-size: 17px;
							font-family: 'Futura', Arial, sans-serif;
							margin: 7px 0 11px 0;
						}
						
						.chat-content-ask-button {
							display: block;
							width: 270px;
							height: 34px;
							background: #c3262e;
							border-radius: 4px;
							margin: 0 auto;
						}
						
							.chat-content-ask-button-text {
								display: block;
								color: #fffcf5;
								font-size: 20px;
								font-family: 'Futura', Arial, sans-serif;
								text-align: center;
								padding-top: 7px;
							}
								
							
				.chat-content-field-cont {
					display: none;
					position: absolute;
					width: 93.75%;
					height: 40px;
					padding: 5px 3.125%;
					left: 0;
					bottom: 0;
					background: #c3262e;
				}
				
				.chat-content-field-cont.active {
					display: block;
				}
				
					.chat-content-field-subcont {
						position: relative;
						display: block;
						width: auto;
						height: 40px;
						margin-left: 40px;
					}
					
					.chat-content-field-subcont2 {
						float: left;
						display: block;
						width: 34px;
						height: 34pxpx;
						left: 0;
						margin-top: 3px;
						overflow: hidden;
						background: #a61d24 url('../img/chat/icon/browse.png') no-repeat;
						background-size: 34px 34px;
						background-position: center;
						border-radius: 4px;
					}
				
						.chat-content-field {
							display: block;
							border: none;
							padding: 0 40px 0 10px;
							background: white;
							width: 100%;
							height: 40px;
							border-radius: 4px;
							box-sizing: border-box;
							-moz-box-sizing: border-box;
							-webkit-box-sizing: border-box;
						}
						
						.chat-content-field-submit {
							position: absolute;
							width: 34px;
							height: 34px;
							right: 3px;
							top: 3px;
							border-radius: 4px;
							border: none;
							background: #fbb232 url('../img/chat/icon/send.png') no-repeat;
							background-size: 34px 34px;
							background-position: center center;
						}
						
						.chat-content-field-file {
							display: block;
							color: transparent;
							border: none;
							padding: 0;
							width: 34px;
							height: 34px;
							opacity: 0;
						}

						
/* MESSAGE ========================================*/
/*=================================================*/

	.message-content {
		padding-top: 8px;
	}
	
		.message-block-cont {
			margin: 0 10px 8px 10px;
		}
		
			.message-block {
				background: white;
				border: solid 1px #cacaca;
				border-radius: 4px;
			}
			
				.message-block-title {
					padding: 10px 14px;
					background: #f4f4f4;
					color: #4d4d4d;
					font-size: 13px;
					font-family: 'Futura Bold', Arial, sans-serif;
					border-bottom: solid 1px #cacaca;
					margin-bottom: 7px;
					text-transform: uppercase;
				}
				
				.message-block-form {
				}
				
					.message-block-label {
						display: block;
						margin: 0 14px 6px 14px;
						color: #494949;
						font-size: 16px;
						font-family: 'Futura', Arial, sans-serif;
					}
					
					.message-block-field-cont {
						margin: 0 14px 6px 14px;
					}
					
						.message-block-field {
							width: 100%;
							border: solid 1px #cacaca;
							border-radius: 4px;
							color: #494949;
							font-size: 14px;
							font-family: 'Futura', Arial, sans-serif;
							line-height: 18px;
							padding: 10px;
							resize: none;
							box-sizing: border-box;
							-moz-box-sizing: border-box;
							-webkit-box-sizing: border-box;
						}
					
					.message-block-submit-cont {
						border-top: solid 1px #cacaca;
						padding: 6px 14px 7px 14px;
					}
					
						.message-block-submit {
							display: block;
							width: 100%;
							height: 34px;
							border: none;
							padding: 0;
							border-radius: 4px;
							background: #c3262e;
							color: #fffcf5;
							font-size: 20px;
							font-family: 'Futura', Arial, sans-serif;
						}
						
				.message-block-title2 {
					color: #ada287;
					font-size: 12px;
					font-family: 'Futura Bold', Arial, sans-serif;
					text-transform: uppercase;
					text-align: center;
					padding: 9px 14px 7px 14px;
				}
				
				.message-block-list {
				}
				
					.message-block-list-li {
					}
					
						.message-block-list-time {
							display: block;
							padding: 5px 14px 4px 14px;
							background: #f4f4f4;
							border-top: solid 1px #cacaca;
							border-bottom: solid 1px #cacaca;
							color: #4d4d4d;
							font-size: 13px;
							font-family: 'Futura Bold', Arial, sans-serif;
						}
						
						.message-block-list-subcont {
							padding: 7px 14px;
						}
						
							.message-block-list-subtitle {
								color: #8b8b8b;
								font-size: 10px;
								font-family: 'Futura Bold', Arial, sans-serif;
								margin-bottom: 5px;
							}
							
							.message-block-list-text-cont {
							}
							
								.message-block-list-text {
									color: #494949;
									font-size: 16px;
									font-family: 'Futura', Arial, sans-serif;
									line-height: 19px;
									margin-bottom: 11px;
								}

/* TOKO ===========================================*/
/*=================================================*/

	.toko-content {
		min-height: 100%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		background: #0c80d3;
		margin-top: -40px;
		padding-top: 40px;
		text-align: center;
	}
	
		.toko-ribbon {
			width: 93.75%;
			height: 54px;
			margin: 13px auto;
			background: white;
		}
		
			.toko-ribbon-tri1 {
				float: left;
				border-left: solid 27px #0c80d3;
				border-top: solid 27px transparent;
				border-bottom: solid 27px transparent;
			}
			
			.toko-ribbon-tri2 {
				float: right;
				border-right: solid 27px #0c80d3;
				border-top: solid 27px transparent;
				border-bottom: solid 27px transparent;
			}
			
			.toko-ribbon-text {
				color: #0c80d3;
				font-size: 18px;
				font-family: 'Futura Bold', Arial, sans-serif;
				width: 76%;
				margin: 0 auto;
				padding-top: 8px;
				line-height: 18px;
			}
		
		.toko-benefits {
			width: 270px;
			margin: 0 auto 13px auto;
			text-align: center;
			list-style: disc inside;
			color: white;
			font-size: 16px;
			font-family: 'Futura', Arial, sans-serif;
		}
		
			.toko-benefits-li {
				margin-bottom: 7px;
			}
			
		.toko-img-cont {
			height: auto;
			margin-bottom: 15px;
		}
			
			.toko-img {
				display: block;
				width: 300px;
				height: 212px;
				margin: 0 auto;
			}
			
			.toko-text1 {
				display: block;
				width: 270px;
				height: 52px;
				margin: 0 auto;
				color: white;
				font-size: 24px;
				font-family: 'Futura Bold', Arial, sans-serif;
			}
		
		.toko-block1 {
			position: relative;
			width: 93.75%;
			margin: 0 auto 7px;
			padding: 9px 15px;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			background: white;
			border-radius: 5px;
		}
		
			.toko-block1-text1 {
				color: #1c1c1c;
				font-size: 16px;
				font-family: 'Futura', Arial, sans-serif;
				line-height: 19px;
				text-align: center;
			}
			
			.toko-block1-arrow {
				position: absolute;
				border-bottom: solid 10px white;
				border-right: solid 10px transparent;
				border-left: solid 10px transparent;
				top: -8px;
				left: 50%;
				margin-left: -5px;
			}
			
			.toko-block1-text2 {
				width: 187px;
				text-align: left;
				color: #494949;
				font-size: 16px;
				font-family: 'Futura', Arial, sans-serif;
				line-height: 19px;
			}
			
				.toko-block1-socmed {
					display: inline-block;
					position: relative;
					width: 15px;
					height: 14px;
					background: url('../img/toko/socmed.png') no-repeat;
					margin-right: 7px;
				}
				
				.toko-block1-socmed.fb {
				}
				
				.toko-block1-socmed.tw {
					background-position: 0 -20px;
				}
				
				.toko-block1-text2 b {
					font-weight: normal;
					font-family: 'Futura Bold', Arial, sans-serif;
				}
			
			.toko-block1-call {
				display: block;
				position: absolute;
				width: 73px;
				height: 25px;
				padding: 7px 0 0 9px;
				top: 7px;
				right: 9px;
				background: #fbb232 url('../img/toko/phone.png') no-repeat;
				background-position: 10px 7px;
				background-size: 14px 19px;
				border-bottom: solid 3px #cd9026;
				border-radius: 4px;
				color: white;
				font-size: 16px;
				font-family: 'Futura Bold', Arial, sans-serif;
				text-transform: uppercase;
			}
			
		.toko-footer {
			height: 44px;
			background: #d11143;
		}
		
			.toko-footer-subcont {
				width: 300px;
				margin: 0 auto;
			}
			
				.toko-footer-logo {
					float: left;
					display: block;
					width: 120px;
					height: 24px;
					background: url('../img/toko/footer-logo.png') no-repeat;
					background-size: 100% auto;
					margin-top: 10px;
				}
				
				.toko-footer-text {
					float: right;
					width: 165px;
					color: white;
					font-size: 13px;
					font-family: 'Futura Bold', Arial, sans-serif;
					line-height: 17px;
					text-align: left;
					padding-top: 4px;
				}


/* ARTICLE =======================================*/
/*================================================*/				

	.article-search-cont {
		height: 47px;
		background: #fbb232;
	}
	
		.article-search-form {
			position: relative;
			display: block;
			width: auto;
			margin: 0 10px;
			padding-top: 6px;
		}
		
			.article-search {
				width: 100%;
				height: 34px;
				background: white;
				border: none;
				padding: 0 55px 0 15px;
				border-radius: 15px;
				box-sizing: border-box;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				color: #262626;
				font-size: 16px;
				font-family: 'Futura', Arial, sans-serif;
			}
			
			.article-search-submit {
				display: block;
				position: absolute;
				width: 34px;
				height: 34px;
				border: none;
				padding: 0;
				top: 0;
				right: 9px;
				background: url('../img/article/search.png') no-repeat center center;
				background-size: 20px 19px;
				background-position: 7px 8px;
				top: 6px;
			}
	
	.article-content {
		height: 100%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		padding-top: 47px;
		margin-top: -47px;
	}
	
		.article-content-subcont {
			position: relative;
			height: 100%;
			overflow-y: scroll;				
			-webkit-transform: translate3d(0, 0, 0);
			-webkit-backface-visibility: hidden;
			-webkit-perspective: 1000;
			-webkit-overflow-scrolling: touch;
		}
	
			.article-list {
				position: relative;
				padding: 7px 10px 40px 10px;
			}
			
				.article-list-li {
					margin-bottom: 18px;
					border: solid 1px #cacaca;
				}
				
					.article-list-img-cont {
						display: block;
						width: 100%;
						height: 0;
						padding-top: 50%;
						background-size: cover;
						background-position: center center;
					}
						
					.article-list-title-cont {
						position: relative;
						padding: 6px 15px 24px 15px;
						background: white;
					}
					
						.article-list-title {
							color: #262626;
							font-size: 22px;
							font-family: 'Futura', Arial, sans-serif;
							line-height: 26px;
						}
						
						.article-list-time {
							position: absolute;
							padding: 3px 5px 3px 13px;
							border-left: solid 2px #cacaca;
							left: 0;
							bottom: 3px;
							color: #636363;
							font-size: 10px;
							font-family: 'Futura', Arial, sans-serif;
							background: #eee;
						}
						
				.article-list-loading {
					display: none;
					position: absolute;
					width: 100%;
					height: 16px;
					left: 0;
					bottom: 20px;
				}
				
					.article-list-loading-icon {
						display: block;
						width: 16px;
						height: 16px;
						margin: 0 auto;
						animation: article-loading-icon 1s linear infinite;
						-moz-animation: article-loading-icon 1s linear infinite;
						-webkit-animation: article-loading-icon 1s linear infinite;
					}
					
					@keyframes article-loading-icon {
						from {
							transform: rotate(0deg);
							-moz-transform: rotate(0deg);
							-webkit-transform: rotate(0deg);
						}
						to {
							transform: rotate(360deg);
							-moz-transform: rotate(360deg);
							-webkit-transform: rotate(360deg);
						}
					}
					
					@-moz-keyframes article-loading-icon {
						from {
							transform: rotate(0deg);
							-moz-transform: rotate(0deg);
							-webkit-transform: rotate(0deg);
						}
						to {
							transform: rotate(360deg);
							-moz-transform: rotate(360deg);
							-webkit-transform: rotate(360deg);
						}
					}
					
					@-webkit-keyframes article-loading-icon {
						from {
							transform: rotate(0deg);
							-moz-transform: rotate(0deg);
							-webkit-transform: rotate(0deg);
						}
						to {
							transform: rotate(360deg);
							-moz-transform: rotate(360deg);
							-webkit-transform: rotate(360deg);
						}
					}
			
			/* DETAIL ==*/
			.article-detail-img {
				display: block;
				width: 100%;
			}
			
			.article-detail-body {
				position: relative;
				background: white;
				border-bottom: solid 2px #e2d8c0;
				margin-bottom: 8px;
			}
			
				.article-detail-body-subcont {
					padding: 10px 25px 5px;
				}
			
					.article-detail-body-arrow {
						position: absolute;
						border-bottom: solid 12px white;
						border-right: solid 11px transparent;
						border-left: solid 11px transparent;
						top: -10px;
						left: 25px;
					}
					
					.article-detail-title {
						color: #262626;
						font-size: 22px;
						font-family: 'Futura', Arial, sans-serif;
						line-height: 24px;
						margin-bottom: 7px;
					}
					
					.article-detail-time {
						display: block;
						color: #989898;
						font-size: 12px;
						font-family: 'Futura', Arial, sans-serif;
						margin-bottom: 6px;
					}
					
					.article-detail-text-cont {
					}
					
						.article-detail-text,
						.article-detail-text-cont p {
							color: #494949;
							font-size: 16px;
							font-family: 'Futura', Arial, sans-serif;
							line-height: 19px;
							margin-bottom: 22px;
						}
						
						.article-detail-list,
						.article-detail-text-cont ul {
							color: #494949;
							font-size: 16px;
							font-family: 'Futura', Arial, sans-serif;
							line-height: 19px;
							margin-bottom: 22px;
							list-style: disc;
							padding-left: 16px;
						}
						
						.article-detail-list li,
						.article-detail-text-cont ul li {
							margin-bottom: 8px;
						}
					
				.article-detail-share-cont {
					width: 100%;
					height: 30px;
					padding: 5px 0;
					border-top: solid 1px #dedede;
				}
				
					.article-detail-share-subcont {
						width: 240px;
						height: 30px;
						margin: 0 auto;
					}
					
						.article-detail-share {
							float: left;
							display: block;
							width: 114px;
							height: 30px;
							border-radius: 4px;
							background: #29c5f6 url('../img/article/socmed.png') no-repeat;
							background-size: 44px 60px;
							color: white;
							font-size: 16px;
							font-family: 'Futura', Arial, sans-serif;
							text-transform: uppercase;
							box-sizing: border-box;
							-moz-box-sizing: border-box;
							-webkit-box-sizing: border-box;
							padding-top: 7px;
							padding-left: 44px;
						}
						
						.article-detail-share.tw {
						}
						
						.article-detail-share.fb {
							float: right;
							background-color: #3b5998;
							background-position: 0 -30px;
						}
						
			.article-comment {
			}
			
				.article-comment-title {
					color: #ada287;
					font-size: 12px;
					font-family: 'Futura Bold', Arial, sans-serif;
					text-align: center;
					margin-bottom: 6px;
				}
				
				.article-comment-list {
					margin: 0 10px 10px 10px;
					padding-top: 8px;
					background: white;
					border: solid 1px #cacaca;
					border-radius: 4px;
				}
				
					.article-comment-list-li {
						padding: 15px;
						border-bottom: solid 1px #dedede;
					}
					
						.article-comment-profpic {
							float: left;
							width: 49px;
							height: 49px;
							border-radius: 30px;
						}
						
						.article-comment-field-cont {
							margin-left: 58px;
						}
						
							.article-comment-field {
								width: 100%;
								border: solid 1px #cfcfcc;
								border-radius: 4px;
								min-height: 49px;
								resize: none;
								margin-bottom: 5px;
							}
							
							.article-comment-field-submit {
								float: right;
								display: block;
								width: 88px;
								height: 26px;
								background: #fbb232;
								border: none;
								padding: 0;
								border-radius: 4px;
								color: white;
								font-size: 16px;
								font-family: 'Futura Bold', Arial, sans-serif;
								text-transform: uppercase;
							}
							
						.article-comment-head {
							margin-bottom: 7px;
						}
						
							.article-comment-head-detail {
								margin-left: 58px;
								padding-top: 10px;
							}
							
								.article-comment-head-detail-name {
									color: #989898;
									font-size: 14px;
									font-family: 'Futura Bold', Arial, sans-serif;
									margin-bottom: 6px;
									text-transform: uppercase;
								}
								
								.article-comment-head-detail-time {
									display: block;
									font-size: 12px;
									font-family: 'Futura', Arial, sans-serif;
									color: #7e7e7e;
								}
								
						.article-comment-content {
						}
						
							.article-comment-content-text {
								color: #494949;
								font-size: 16px;
								font-family: 'Futura', Arial, sans-serif;
								line-height: 19px;
								margin-bottom: 8px;
							}
							
					.article-comment-list-li2 {
						padding: 15px;
					}
					
						.article-comment-more {
							display: block;
							color: #ada287;
							font-size: 12px;
							font-family: 'Futura Bold', Arial, sans-serif;
							text-transform: uppercase;
							text-align: center;
						}

/* RECORD ========================================*/
/*================================================*/

	.record-profile-edit {
		position: absolute;
		width: 63px;
		height: 100%;
		right: 0;
		top: 0;
		bottom: 0;
		border-left: 1px solid #CACACA;
	}
	
		.record-profile-edit-text {
			position: absolute;
			height: 30px;
			top: 50%;
			margin-top: -11px;
			padding-left: 8px;
			color: #B1B1B1;
			font-size: 13px;
			font-family: 'Futura Bold',Arial,sans-serif;
		}
		
		.record-profile-edit-icon {
			position: relative;
			width: 18px;
			height: 16px;
			left: 4px;
			top: 3px;
		}
						
/* WEIGHT ========================================*/
/*================================================*/

	.weight-content {
		height: 100%;
		padding-top: 40px;
		margin-top: -40px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		
		overflow-y: scroll;
		-webkit-transform: translate3d(0, 0, 0);
		-webkit-backface-visibility: hidden;
		-webkit-perspective: 1000;
		-webkit-overflow-scrolling: touch;
	}
	
		.weight-content-subcont {
			background: #F0E8D5;
			padding: 0 0 40px 0;
		}
		
			.weight-chart-cont {
				position: relative;
				width: 100%;
				height: 215px;
			}
		
				.weight-chart-viewport {
					position: relative;
					width: 100%;
					height: 215px;
					overflow: hidden;
					/*
					overflow-x: scroll;
					overflow-y: hidden;
					direction: rtl;
					-webkit-transform: translate3d(0, 0, 0);
					-webkit-backface-visibility: hidden;
					-webkit-perspective: 1000;
					-webkit-overflow-scrolling: touch;
					*/
					background: #64ae3d;
				}
				
					.weight-chart {
						position: relative;
						width: 2460px;
						height: 215px;
						background: #64ae3d;
						overflow: hidden;
						/*background: url('../img/chat/dokter1.jpg');*/
					}
					
						.weight-chart-list {
							position: absolute;
							width: 100%;
							height: 215px;
							top: 0;
							left: 0;
						}
						
							.weight-chart-list-li {
								position: relative;
								float: left;
								width: 40px;
								height: 215px;
								border-left: solid 1px #549133;
							}
							
							.weight-chart-list .weight-chart-list-li {
								border-left: solid 1px #346e16;
							}
							
								.weight-chart-list-block1,
								.weight-chart-list-block2,
								.weight-chart-list-block3 {
									position: absolute;
									left: 0;
									width: 100%;
									height: 95px;
									background: #3d801a;
								}
								
								.weight-chart-list-block2 {
									top: 95px;
									height: 70px;
									background: #50952b;
								}
								
								.weight-chart-list-block3 {
									top: 165px;
									height: 50px;
									background: #64ae3d;
								}
							
								.weight-chart-list-text {
									position: absolute;
									width: 100%;
									text-align: center;
									bottom: 12px;
									left: -50%;
									color: #3a6226;
									font-size: 10px;
									font-family: 'Futura Bold', Arial, sans-serif;
									text-transform: uppercase;
								}
								
						.weight-chart-line,
						.weight-chart-line2,
						.weight-chart-line3 {
							position: absolute;
							width: 100%;
							top: 107px;
							border-top: dashed 2px #32601a;
						}
						
						.weight-chart-line2 {
							top: 94px;
						}
						
						.weight-chart-line3 {
							top: 164px;
						}
						
						.weight-chart-svg {
							position: absolute;
							width: 100%;
							height: 100%;
							overflow: hidden;
							top: 0;
							left: 0;
						}
						
						.weight-chart-point-cont {
							position: absolute;
							width: 100%;
							height: 100%;
							overflow: hidden;
							top: 0;
							left: 0;
						}
						
							.weight-chart-point {
								position: absolute;
								width: 13px;
								height: 13px;
								box-shadow: 0 0 0 3px #c3262e;
								border-radius: 10px;
								margin: 0 0 -6px -6px;
								background: #00bff3;
								direction: ltr;
							}
							
							.weight-chart-point.high {
								background: #c3262e;
							}
							
							.weight-chart-point.low {
								background: #fbb232;
							}
							
								.weight-chart-point-bubble {
									display: none;
									position: absolute;
									top: -41px;
									left: -28px;
									width: 66px;
									height: 22px;
									padding: 6px 0;
									background: white;
									border-radius: 3px;
									color: #335621;
									font-size: 12px;
									font-family: 'Futura Bold', Arial, sans-serif;
									text-align: center;
								}
								
								.weight-chart-point.flip .weight-chart-point-bubble {
									top: auto;
									bottom: -46px;
								}
								
									.weight-chart-point-bubble-text1 {
										display: block;
										color: #888;
										font-size: 9px;
										margin-bottom: 2px;
									}
								
									.weight-chart-point-bubble-text2 {
										display: block;
									}
								
									.weight-chart-point-bubble-arrow {
										position: absolute;
										border-top: solid 8px white;
										border-left: solid 5px transparent;
										border-right: solid 5px transparent;
										bottom: -7px;
										left: 50%;
										margin-left: -5px;
									}
									
									.weight-chart-point.flip .weight-chart-point-bubble-arrow {
										border-top: none;
										border-bottom: solid 8px white;
										bottom: auto;
										top: -7px;
									}
									
					.weight-chart-time {
						display: none;
						position: absolute;
						width: 50%;
						top: 2px;
						right: 10px;
						text-align: right;
						color: white;
						font-size: 10px;
						font-family: 'Futura', Arial, sans-serif;
					}
					
						.weight-chart-time-icon {
							display: inline-block;
							position: relative;
							width: 13px;
							height: 14px;
							background: url('../img/record/weight/clock.png') no-repeat;
							background-size: 100% auto;
							top: 4px;
							margin-right: 4px;
						}
						
					.weight-chart-ideal-cont,
					.weight-chart-ideal-cont2,
					.weight-chart-ideal-cont3 {
						display: block;
						position: absolute;
						width: 60px;
						height: 30px;
						top: 88px;
						left: 10px;
						color: white;
						font-family: 'Futura Bold', Arial, sans-serif;
						text-align: left;
					}
					
					.weight-chart-ideal-cont2 {
						text-transform: none;
						font-size: 10px;
						top: 90px;
					}
					
					.weight-chart-ideal-cont3 {
						text-transform: none;
						font-size: 10px;
						top: 160px;
					}
					
						.weight-chart-ideal-text1 {
							font-size: 9px;
							text-transform: uppercase;
							margin-bottom: 3px;
						}
						
						.weight-chart-ideal-text2 {
							font-size: 12px;
						}
			
			.weight-chart-info {
				background: white;
				height: 30px;
				border-bottom: solid 1px #cacaca;
				margin-bottom: 6px;
			}
			
				.weight-chart-info-subcont {
				}
				
					.weight-chart-info-col {
						float: left;
						position: relative;
						width: 33.33333333%;
						box-sizing: border-box;
						-moz-box-sizing: border-box;
						-webkit-box-sizing: border-box;
						text-align: center;
						padding-top: 7px;
						border-right: solid 1px #cacaca;
						height: 30px;
					}
					
					.weight-chart-info-col:last-child {
						border-right: none;
					}
					
					.weight-chart-info-col.col1 {
						color: #fbb232;
					}
					
					.weight-chart-info-col.col2 {
						color: #1a94e4;
					}
					
					.weight-chart-info-col.col3 {
						color: #c3262e;
					}
					
						.weight-chart-info-circle {
							position: relative;
							display: inline-block;
							width: 15px;
							height: 15px;
							border-radius: 15px;
							margin-right: 3px;
						}
						
						.weight-chart-info-col.col1 .weight-chart-info-circle {
							background: #fbb232;
						}
						
						.weight-chart-info-col.col2 .weight-chart-info-circle {
							background: #00bff3;
						}
						
						.weight-chart-info-col.col3 .weight-chart-info-circle {
							background: #c3262e;
						}
						
						.weight-chart-info-text {
							font-size: 13px;
							font-family: 'Futura Bold', Arial, sans-serif;
							position: relative;
							top: -2px;
						}
						
			.weight-block-cont {
			}
			
				.weight-block {
					margin: 0 10px 10px 10px;
					padding-top: 11px;
					background: white;
					border: solid 1px #cacaca;
					border-radius: 4px;
					overflow: hidden;
				}
				
					.weight-block-title-cont {
						border-bottom: solid 1px #dedede;
						padding: 0 14px 11px 14px;
						margin-bottom: 10px;
					}
					
						.weight-block-title {
							color: #606060;
							font-size: 14px;
							font-family: 'Futura Bold', Arial, sans-serif;
						}
						
					.weight-form {
						padding: 0 14px;
					}
					
						.weight-field-cont {
							margin-bottom: 8px;
						}
						
							.weight-field-subcont {
								width: 48%;
							}
							
							.weight-field-subcont.a {
								float: left;
							}
							
							.weight-field-subcont.b {
								float: right;
							}
							
								.weight-field-label {
									display: block;
									color: #5a5a5a;
									font-size: 15px;
									font-family: 'Futura', Arial, sans-serif;
									margin-bottom: 5px;
								}
								
								.weight-field-subsubcont {
									position: relative;
									height: 40px;
								}
								
									.weight-field {
										display: block;
										width: 100%;
										height: 40px;
										box-sizing: border-box;
										-moz-box-sizing: border-box;
										-webkit-box-sizing: border-box;
										padding: 0 40px 0 10px;
										border: solid 1px #dedede;
										border-radius: 4px;
									}
									
									.weight-field-unit {
										position: absolute;
										top: 11px;
										right: 9px;
										color: #959595;
										font-size: 16px;
										font-family: 'Futura', Arial, sans-serif;
									}
									
						.weight-date-cont {
						}
						
							.weight-date-subcont {
							}
							
								.weight-date-select-cont {
								}
								
									.weight-date-select {
									}
									
						.weight-submit-cont {
							padding-bottom: 14px;
						}
						
							.weight-submit {
								display: block;
								width: 100%;
								height: 34px;
								padding: 0;
								border: none;
								border-radius: 4px;
								background: #c3262e;
								color: #fffcf5;
								font-size: 20px;
								font-family: 'Futura', Arial, sans-serif;
							}
							
						.weight-block-text1 {
							color: #404040;
							font-size: 16px;
							font-family: 'Futura', Arial, sans-serif;
							margin: 0 20px 10px 20px;
							text-align: center;
							line-height: 19px;
						}
						
						
			
/* FOOD ==========================================*/
/*================================================*/

		.food-ideal-cont {
			position: relative;
			height: 38px;
			border-bottom: solid 1px #cacaca;
			background: #fff;
		}
		
			.food-ideal-text {
				color: #404040;
				font-size: 16px;
				font-family: 'Futura', Arial, sans-serif;
				margin-left: 20px;
				padding-top: 12px;
			}
			
				.food-ideal-text b {
					font-weight: normal;
					font-family: 'Futura Bold', Arial, sans-serif;
				}
			
			.food-ideal-edit {
				position: absolute;
				width: 63px;
				height: 38px;
				right: 0;
				top: 0;
				border-left: solid 1px #cacaca;
			}
			
				.food-ideal-edit-text {
					position: relative;
					padding-left: 8px;
					padding-top: 8px;
					color: #b1b1b1;
					font-size: 13px;
					font-family: 'Futura Bold', Arial, sans-serif;
				}
				
					.food-ideal-edit-icon {
						position: relative;
						width: 18px;
						height: 16px;
						left: 4px;
						top: 3px;
					}

	.food-content {
		height: 100%;
		padding-top: 79px;
		margin-top: -79px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		
		overflow-y: scroll;
		-webkit-transform: translate3d(0, 0, 0);
		-webkit-backface-visibility: hidden;
		-webkit-perspective: 1000;
		-webkit-overflow-scrolling: touch;
	}
	
		.food-content-subcont {
			background: #F0E8D5;
			padding: 14px 0 40px 0;
			min-height: 100%;
		}
		
			.food-block-cont {
				margin: 0 10px 14px 10px;
			}
			
				.food-block-title {
					margin-left: 15px;
					color: #4d4d4d;
					font-size: 13px;
					font-family: 'Futura Bold', Arial, sans-serif;
					margin-bottom: 4px;
					text-transform: uppercase;
				}
				
				.food-block {
					border: solid 1px #cacaca;
					border-radius: 4px;
					background: white;
					overflow: hidden;
				}
				
					.food-field-cont {
						position: relative;
						margin: 5px;
						height: 35px;
					}
					
						.food-field {
							width: 100%;
							height: 35px;
							border: none;
							border-radius: 3px;
							padding: 0 40px 0 10px;
							box-sizing: border-box;
							-moz-box-sizing: border-box;
							-webkit-box-sizing: border-box;
							
							color: #404040;
							font-size: 16px;
							font-family: 'Futura', Arial, sans-serif;
							
							background: #e9e9e9;
						}
						
						.food-field-button {
							position: absolute;
							width: 28px;
							height: 25px;
							background: url('../img/record/food/action.png') no-repeat;
							background-size: 28px 54px;
							top: 6px; 
							right: 5px;
						}
						
					.food-list {
					}
					
						.food-list-li {
							border-bottom: solid 1px #dedede;
							height: 42px;
						}
						
						.food-list-li:first-child {
							border-top: solid 1px #dedede;
						}
						
							.food-list-col1 {
								position: relative;
								float: left;
								width: 35px;
								height: 42px;
								border-right: solid 1px #dedede;
								
							}
							
								.food-list-number {
									display: block;
									border: none;
									padding: 0;
									position: absolute;
									width: 100%;
									height: 100%;
									color: #5a5a5a;
									font-size: 18px;
									font-family: 'Futura Bold', Arial, sans-serif;
									text-align: center;
									-webkit-appearance: none;
								}
								
								.food-list-number-arrow {
									position: absolute;
									border-top: solid 5px #bababa;
									border-left: solid 3px transparent;
									border-right: solid 3px transparent;
									top: 32px;
									left: 50%;
									margin-left: -3px;
									pointer-events: none;
								}
								
							.food-list-col2 {
								position: relative;
								margin-left: 36px;
								padding-left: 8px;
								padding-top: 13px;
								height: 42px;
							}
							
								.food-list-foodName {
									color: #5a5a5a;
									font-size: 16px;
									font-family: 'Futura', Arial, sans-serif;
								}
								
								.food-list-delete {
									position: absolute;
									width: 28px;
									height: 27px;
									right: 11px;
									top: 6px;
									background: url('../img/record/food/action.png') no-repeat;
									background-size: 28px 54px;
									background-position: 0 -26px;
								}
				
				
				.food-date-cont {
					margin-bottom: 20px;
					overflow: hidden;
				}
				
					.food-date-subcont {
						width: 200%;
					}
					
						.food-date-select-cont {
							position: relative;
							float: left;
							width: 15%;
							height: 40px;
							margin-right: 2.5%;
						}
						
							.food-date-select {
								position: absolute;
								width: 100%;
								height: 100%;
								border: solid 1px #cacaca;
								border-radius: 4px;
								background: white;
								padding: 6px;
								color: #494949;
								font-size: 16px;
								font-family: 'Futura', Arial, sans-serif;
								box-sizing: border-box;
								-moz-box-sizing: border-box;
								-webkit-box-sizing: border-box;
								-webkit-appearance: none;
							}
								
			.food-submit-cont {
				margin: 0 10px;
				height: 36px;
			}
			
				.food-submit {
					width: 100%;
					border: none;
					padding: 0;
					background: #c3262e;
					height: 36px;
					border-radius: 4px;
					color: white;
					font-size: 17px;
					font-family: 'Futura Bold', Arial, sans-serif;
				}
				
				.food-submit.a {
					float: left;
					width: 47%;
				}
				
				.food-submit.b {
					float: right;
					width: 47%;
				}
				
					.food-list2 {
					}
					
						.food-list2-li1,
						.food-list2-li2,
						.food-list2-li3 {
							padding: 6px 14px;
							border-bottom: solid 1px #dedede;
						}
						
						.food-list2-li1 {
							background: #f4f4f4;
						}
						
						.food-list2-li2 {
							background: white;
						}
						
						.food-list2-li3 {
							background: #c3262e;
						}
					
						.food-list2-li1:last-child,
						.food-list2-li2:last-child,
						.food-list2-li3:last-child {
							border-bottom: none;
						}
						
							.food-list2-title {
								color: #4d4d4d;
								font-size: 13px;
								font-family: 'Futura Bold', Arial, sans-serif;
							}
							
							.food-list2-foodName {
								color: #5a5a5a;
								font-size: 16px;
								font-family: 'Futura', Arial, sans-serif;
								margin-right: 60px;
							}
							
							.food-list2-cal {
								float: right;
								width: 50px;
								text-align: right;
								color: #5a5a5a;
								font-size: 14px;
								font-family: 'Futura', Arial, sans-serif;
							}
							
							.food-list2-total-text {
								float: left;
								width: 49%;
								color: #fff;
								font-size: 14px;
								font-family: 'Futura Bold', Arial, sans-serif;
							}
							
							.food-list2-total-number {
								float: right;
								width: 49%;
								color: #fff;
								font-size: 14px;
								font-family: 'Futura Bold', Arial, sans-serif;
								text-align: right;
							}
							
					.food-note {
						padding: 7px 14px;
					}
							
						.food-note-text1 {
							color: #404040;
							font-size: 15px;
							font-family: 'Futura Bold', Arial, sans-serif;
							text-align: center;
							line-height: 19px;
						}
						
						.food-note-text2 {
							color: #404040;
							font-size: 15px;
							font-family: 'Futura', Arial, sans-serif;
							text-align: center;
							line-height: 19px;
						}
						
							.food-note-text2 strong {
								font-family: 'Futura Bold', Arial, sans-serif;
							}
						
/* HISTORY =======================================*/
/*================================================*/

		.history-filter-cont {
			position: relative;
			height: 38px;
			border-bottom: solid 1px #cacaca;
			background: white;
		}
		
			.history-filter-subcont {
				height: 25px;
				padding: 6px 10px 7px 10px;
			}
				
				.history-filter-button {
					float: left;
					border: solid 1px #cacaca;
					border-radius: 4px;
					background: #e2e2e2;
					color: #656565;
					font-size: 14px;
					font-family: 'Futura', Arial, sans-serif;
					margin-right: 9px;
					padding: 5px 9px;
				}
				
				.history-filter-button.active {
					background: white;
				}
				
				.history-save {
					position: absolute;
					width: 26px;
					height: 24px;
					border: solid 1px #cacaca;
					border-radius: 4px;
					background: url(../img/record/history/save.png) no-repeat;
					background-size: 26px 24px;
					background-position: center center;
					top: 6px;
					right: 10px;
				}
				
			.history-filter-date-cont {
				display: none;
				position: absolute;
				width: 100%;
				height: 106px;
				border-bottom: solid 1px #cacaca;
				bottom: -108px;
				background: white;
			}
			
				.history-filter-date-subcont {
					padding: 12px 10px;
					overflow-x: hidden;
					overflow-y: visible;
				}
				
					.history-filter-date-select-cont {
						width: 200%;
					}
					
						.history-filter-date-select {
							float: left;
							width: 15%;
							height: 38px;
							padding: 7px;
							margin-right: 2.5%;
							background: white;
							border: solid 1px #cacaca;
							border-radius: 4px;
							color: #494949;
							font-size: 16px;
							font-family: 'Futura', Arial, sans-serif;
							-webkit-appearance: none;
						}
						
					.history-filter-date-submit-cont {
						height: 34px;
						padding: 0 25px 11px 25px;
					}
					
						.history-filter-date-submit {
							width: 100%;
							height: 34px;
							background: #c3262e;
							border: none;
							padding: 0;
							border-radius: 4px;
							color: #fffcf5;
							font-size: 20px;
							font-family: 'Futura', Arial, sans-serif;
						}

	.history-content {
		height: 100%;
		padding-top: 79px;
		margin-top: -79px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		
		overflow-y: scroll;
		-webkit-transform: translate3d(0, 0, 0);
		-webkit-backface-visibility: hidden;
		-webkit-perspective: 1000;
		-webkit-overflow-scrolling: touch;
	}
	
		.history-content-subcont {
			background: #F0E8D5;
			padding-bottom: 40px;
			min-height: 100%;
		}
		
			.history-list {
				margin: 0 10px;
				padding-top: 13px;
			}
			
				.history-list-li {
					margin-bottom: 13px;
				}
				
					.history-date {
						display: block;
						color: #ada287;
						font-size: 12px;
						font-family: 'Futura Bold', Arial, sans-serif;
						text-align: center;
						text-transform: uppercase;
						margin-bottom: 5px;
					}
					
					.history-block {
						border: solid 1px #cacaca;
						border-radius: 4px;
						background: white;
						color: #494949;
						font-size: 16px;
						font-family: 'Futura', Arial, sans-serif;
					}
					
						.history-block-list {
						}
						
							.history-block-list-li {
								padding: 11px 14px;
								border-bottom: solid 1px #dedede;
							}
							
							.history-block-list-li:last-child {
								border-bottom: none;
							}
							
								.history-block-list-col1 {
									float: left;
									width: 45%;
								}
								
								.history-block-list-col2 {
									float: right;
									width: 45%;
									text-align: right;
								}
						
/* DPP ===========================================*/
/*================================================*/

	.dpp-content {
		height: 100%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		padding-top: 47px;
		margin-top: -47px;
	}
	
		.dpp-content-subcont {
			height: 100%;
			overflow-y: scroll;				
			-webkit-transform: translate3d(0, 0, 0);
			-webkit-backface-visibility: hidden;
			-webkit-perspective: 1000;
			-webkit-overflow-scrolling: touch;
			
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			padding-top: 9px;
		}
		
			.dpp-block {
				margin: 0 10px 10px 10px;
				background: white;
				border: solid 1px #cacaca;
				border-radius: 4px;
			}
			
				.dpp-block-list {
				}
				
					.dpp-block-list-li {
						position: relative;
						padding: 14px;
						min-height: 21px;
						border-bottom: solid 1px #dedede;
					}
					
						.dpp-block-list-question {
							color: #404040;
							font-size: 18px;
							font-family: 'Futura', Arial, sans-serif;
							line-height: 22px;
							margin-left: 48px;
						}
					
						.dpp-block-list-question-icon {
							float: left;
							display: block;
							width: 35px;
							height: 35px;
						}
						
						.dpp-block-list-label1 {
							display: block;
							color: #585858;
							font-size: 16px;
							font-family: 'Futura', Arial, sans-serif;
							margin-right: 65px;
						}
						
						.dpp-block-list-radio-cont {
							position: absolute;
							width: 23px;
							height: 24px;
							right: 14px;
							top: 50%;
							margin-top: -12px;
						}
						
							.dpp-block-list-radio {
							}
							
						.dpp-block-list-label2 {
							display: block;
							color: #585858;
							font-size: 16px;
							font-family: 'Futura', Arial, sans-serif;
							margin-right: 65px;
							line-height: 19px;
						}
						
							.dpp-block-list-label2-text1 {
								font-family: 'Futura Bold', Arial, sans-serif;
							}
							
							.dpp-block-list-label2-text2 {
							}
							
						.dpp-block-list-field-supercont {
							height: 37px;
						}
						
							.dpp-block-list-field-cont {
								position: relative;
								height: 37px;
								margin-right: 65px;
							}
							
								.dpp-block-list-field-subcont {
									position: absolute;
									bottom: 0px;
									width: 100%;
									height: 3px;
									border: solid 1px #d0d0d0;
									border-top: solid 1px transparent;
								}
							
									.dpp-block-list-field {
										position: absolute;
										bottom: 0;
										width: 100%;
										height: 37px;
										padding: 0 8px;
										border: none;
										box-sizing: border-box;
										-moz-box-sizing: border-box;
										-webkit-box-sizing: border-box;
										color: #404040;
										font-size: 16px;
										font-family: 'Futura', Arial, sans-serif;
									}
									
							.dpp-block-list-field-unit {
								float: right;
								width: 50px;
								padding-top: 9px;
								color: #585858;
								font-size: 16px;
								font-family: 'Futura', Arial, sans-serif;
							}
									
							.dpp-block-list-dateSelect-cont {
								height: 37px;
								overflow: hidden;
							}
							
								.dpp-block-list-dateSelect-subcont {
									width: 200%;
								}
								
									.dpp-block-list-dateSelect {
										float: left;
										display: block;
										width: 15%;
										margin-right: 2.5%;
										height: 37px;
										border: none;
										padding: 0;
										background: white;
										color: #404040;
										box-sizing: border-box;
										-moz-box-sizing: border-box;
										-webkit-box-sizing: border-box;
										border: solid 1px #dedede;
										padding: 9px;
									}
									
			/* RESULT ==*/
			.dpp-result-number-cont {
				width: 176px;
				height: 176px;
				border-radius: 100px;
				background: #FFA82C;
				margin: 0 auto 20px auto;
				
			}
			
				.dpp-result-number-text {
					color: #D0303A;
					font-size: 18px;
					font-family: 'Futura', Arial, sans-serif;
					text-align: center;
					padding-top: 30px;
					margin-bottom: 4px;
				}
				
				.dpp-result-number {
					color: #fff;
					font-size: 76px;
					font-family: 'Futura', Arial, sans-serif;
					text-align: center;
				}
				
				.dpp-block-result-text-cont {
					padding: 14px;
				}
				
					.dpp-block-result-text1 {
						color: #404040;
						font-size: 20px;
						font-family: 'Futura Bold', Arial, sans-serif;
						line-height: 24px;
						margin-bottom: 20px;
						text-align: center;
					}
					
					.dpp-block-result-text2 {
						color: #565656;
						font-size: 16px;
						font-family: 'Futura', Arial, sans-serif;
						line-height: 19px;
						margin-bottom: 12px;
					}
				
			.dpp-retake {
				display: block;
				height: 27px;
				padding-top: 9px;
				margin: 10px;
				background: #FBB232;
				border-radius: 4px;
				color: white;
				font-size: 17px;
				font-family: 'Futura Bold', Arial, sans-serif;
				text-align: center;
				text-transform: uppercase;
			}
	
/* MOF ===========================================*/
/*================================================*/

	.mof-content {
		height: 100%;
		overflow-y: scroll;				
		-webkit-transform: translate3d(0, 0, 0);
		-webkit-backface-visibility: hidden;
		-webkit-perspective: 1000;
		-webkit-overflow-scrolling: touch;
	}
	
		.mof-content-subcont {
			padding-bottom: 40px;
		}
		
			.mof-img {
				display: block;
				width: 100%;
			}
			
			.mof-body {
				position: relative;
				background: white;
				padding: 12px 0;
				border-bottom: solid 2px #dbd1ba;
				margin-bottom: 10px;
			}
			
				.mof-body-arrow {
					position: absolute;
					border-bottom: solid 12px white;
					border-right: solid 11px transparent;
					border-left: solid 11px transparent;
					top: -10px;
					left: 25px;
				}
				
				.mof-body-subcont {
					padding: 0 25px;
				}
				
					.mof-question {
					}
					
						.mof-question-text {
							color: #404040;
							font-size: 18px;
							font-family: 'Futura', Arial, sans-serif;
							margin-bottom: 7px;
							text-align: center;
							line-height: 21px;
						}
						
			.mof-button-cont {
				width: 300px;
				margin: 0 auto 13px auto;
				height: 48px;
			}
			
				.mof-button {
					float: left;
					width: 144px;
					height: 45px;
					border-bottom: solid 3px #d19327;
					border-radius: 4px;
					background: #fbb232;
				}
				
				.mof-button.mitos {
				}
				
				.mof-button.fakta {
					float: right;
				}
				
					.mof-button-content {
						width: 93px;
						height: 17px;
						margin: 0 auto;
						padding-top: 13px;
					}
					
						.mof-button-check {
							float: left;
							width: 20px;
							height: 15px;
							margin-top: 4px;
							background: url('../img/mof/check.png') no-repeat;
							background-size: 20px 32px;
						}
						
						.mof-button-text {
							float: right;
							color: white;
							font-size: 20px;
							font-family: 'Futura Bold', Arial, sans-serif;
							text-transform: uppercase;
						}
						
				.mof-button.active {
					background: #d19327;
				}
				
				.mof-button.active .mof-button-check {
					background-position: 0 -16px;
				}
			
			.mof-guide {
				margin: 0 10px 10px 10px;
				padding: 10px;
				border: solid 1px #cacaca;
				border-radius: 4px;
				background: white;
				color: #494949;
				font-size: 16px;
				font-family: 'Futura', Arial, sans-serif;
				line-height: 19px;
				text-align: center;
			}
						
			.mof-answer-cont {
				display: none;
				margin: 0 10px 10px 10px;
				padding-bottom: 10px;
				border: solid 1px #cacaca;
				border-radius: 4px;
				background: white;
			}
			
				.mof-answer-result {
					padding: 9px 0 8px 0;
					margin-bottom: 13px;
					border-bottom: solid 1px #dedede;
				}
				
					.mof-answer-result-text {
						display: none;
						color: #404040;
						font-size: 16px;
						font-family: 'Futura Bold', Arial, sans-serif;
						text-transform: uppercase;
						text-align: center;
					}
					
				.mof-answer-text-cont {
					padding: 0 15px;
				}
				
					.mof-answer-text {
						color: #494949;
						font-size: 16px;
						font-family: 'Futura', Arial, sans-serif;
						line-height: 19px;
						margin-bottom: 8px;
					}
					
			.mof-share-cont {
				display: none;
				width: 240px;
				height: 30px;
				margin: 0 auto 40px;
			}
			
				.mof-share {
					float: left;
					display: block;
					width: 114px;
					height: 30px;
					border-radius: 4px;
					background: #29c5f6 url('../img/article/socmed.png') no-repeat;
					background-size: 44px 60px;
					color: white;
					font-size: 16px;
					font-family: 'Futura', Arial, sans-serif;
					text-transform: uppercase;
					box-sizing: border-box;
					-moz-box-sizing: border-box;
					-webkit-box-sizing: border-box;
					padding-top: 7px;
					padding-left: 44px;
				}
				
				.mof-share.tw {
				}
				
				.mof-share.fb {
					float: right;
					background-color: #3b5998;
					background-position: 0 -30px;
				}

				.mof-nav-cont {
                width: 240px;
                height: 30px;
                margin: 0 auto 8px;
            }
           
                .mof-nav {
                    float: left;
                    display: block;
                    width: 114px;
                    height: 30px;
                    border-radius: 4px;
                    background: #dbd2bf;
                    color: #494949;
                    font-size: 14px;
                    font-family: 'Futura', Arial, sans-serif;
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    padding-top: 7px;
                    text-align: center;
                }
               
                    .mof-nav.next {
                        float: right;
                    }

				
/* SETTINGS ======================================*/
/*================================================*/	

	.settings-content {
		padding: 11px 10px;
	}

		.settings-block-cont {
			margin: 0 10px 11px 10px;
		}
		
			.settings-block-title,
			.settings-block-title2 {
				margin: 0 15px 5px 15px;
				color: #6a6a6a;
				font-size: 16px;
				font-family: 'Futura Bold', Arial, sans-serif;
			}
			
			.settings-block-title2 {
				text-align: center;
			}
			
			.settings-block {
				background: white;
				border: solid 1px #cacaca;
				border-radius: 4px;
			}
			
			.settings-block2 {
				background: white;
				border: solid 1px #cacaca;
				border-radius: 4px;
				padding-top: 15px;
			}
			
				.settings-block-subtitle,
				.settings-block-text {
					color: #494949;
					font-size: 16px;
					font-family: 'Futura Bold', Arial, sans-serif;
					line-height: 19px;
					margin: 0 14px 17px 14px;
				}
				
				.settings-block-text {
					font-family: 'Futura', Arial, sans-serif;
				}
			
				.settings-block-list {
				}
				
					.settings-block-list-li {
						padding: 8px 14px 11px 14px;
						border-bottom: solid 1px #dedede;
					}
					
					.settings-block-list-li:last-child {
						border-bottom: none;
					}
					
						.settings-block-list-label {
							display: block;
							color: #404040;
							font-size: 16px;
							font-family: 'Futura', Arial, sans-serif;
							margin-right: 87px;
							padding-top: 3px;
						}
						
						.settings-block-list-cb-cont {
							float: right;
							width: 62px;
							height: 23px;
						}
						
							div.settings-block-list-cb {
								background-size: 100% auto;
								-webkit-tap-highlight-color: rgba(0,0,0,0);
								-webkit-tap-highlight-color: transparent; /* For some Androids */
							}
							
				.settings-block-profpic-cont {
					min-height: 53px;
					padding: 13px 14px;
					background: white;
					border-bottom: solid 1px #dedede;
					margin-bottom: 6px;
				}
				
					.settings-block-profpic-img-cont {
						float: left;
						width: 53px;
						height: 53px;
						border-radius: 4px;
						overflow: hidden;
					}
					
						.settings-block-profpic-img {
							width: 53px;
							height: 53px;
						}
						
					.settings-block-profpic-detail {
						margin-left: 67px;
					}
					
						.settings-block-profpic-text {
							color: #cbcbcb;
							font-size: 14px;
							font-family: 'Futura', Arial, sans-serif;
							margin-bottom: 8px;
						}
						
						.settings-block-profpic-button-cont {
							position: relative;
							width: 150px;
							height: 26px;
							border-radius: 3px;
							background: #fbb232 url('../img/signup/icon/browse.png') no-repeat;
							background-size: 22px 18px;
							background-position: 7px 4px;
							overflow: hidden;
						}
						
							.settings-block-profpic-button-label {
								display: block;
								color: white;
								font-size: 12px;
								font-family: 'Futura Bold', Arial, sans-serif;
								margin-left: 38px;
								padding-top: 6px;
								text-transform: uppercase;
							}
							
							.settings-block-profpic-button {
								position: absolute;
								width: 100%;
								height: 100%;
								top: 0;
								left: 0;
								opacity: 0;
							}

				.settings-block-field-cont {
					position: relative;
					height: 37px;
					margin: 0 14px 6px 14px;
				}
				
					.settings-block-field-subcont {
						position: absolute;
						bottom: 0px;
						width: 100%;
						height: 3px;
						border: solid 1px #d0d0d0;
						border-top: solid 1px transparent;
					}
				
						.settings-block-field {
							position: absolute;
							bottom: 0;
							width: 100%;
							height: 37px;
							padding: 0 8px;
							border: none;
							box-sizing: border-box;
							-moz-box-sizing: border-box;
							-webkit-box-sizing: border-box;
							color: #404040;
							font-size: 16px;
							font-family: 'Futura', Arial, sans-serif;
						}
						
		.settings-submit-cont {
			margin: 10px 12px;
			height: 36px;
		}
		
			.settings-submit {
				display: block;
				width: 100%;
				height: 36px;
				border: medium none;
				padding: 0px;
				background: #FBB232;
				border-radius: 4px;
				color: #FFF;
				font-size: 17px;
				font-family: 'Futura Bold',Arial,sans-serif;
				text-transform: uppercase;
			}
			
		.settings-copyright {
			padding: 10px;
		}
		
			.settings-copyright-logo {
				display: block;
				width: 56px;
				height: 57px;
				margin: 0 auto 6px auto;
			}
			
			.settings-copyright-text {
				display: block;
				text-align: center;
				color: #a7a08f;
				font-size: 12px;
				font-family: 'Futura', Arial, sans-serif;
			}
			
		.settings-button {
			height: 26px;
			padding-top: 11px;
			margin: 0 10px 8px 10px;
			color: #404040;
			font-size: 16px;
			font-family: 'Futura', Arial, sans-serif;
			text-align: center;
			background: white;
			border: solid 1px #cacaca;
			border-radius: 4px;
		}
				
/* FOOTER ========================================*/
/*================================================*/	
	
	.footer {
		position: relative;
		clear: both;
		height: 50px;
		margin-top: -50px;
		background: #c3262e;
	}

/* AUTOCOMPLETE FOOD =======================*/
/*=============================================*/
.breakfast-autocomplete-cont,.lunch-autocomplete-cont,.dinner-autocomplete-cont,.snack-autocomplete-cont {
	position: relative;
	top: -8px;
}

.breakfast-autocomplete,.lunch-autocomplete,.dinner-autocomplete,.snack-autocomplete {
	display: none;
	position: absolute;
	width: 100%;
	height: 170px;
	overflow: auto;
	background: white;
	box-shadow: 0 0 0 1px #cccccc inset, 0 1px 1px 0 rgba(0, 0, 0, 0.4);
	z-index: 110;
}

.breakfast-autocomplete li,.lunch-autocomplete li,.dinner-autocomplete li,.snack-autocomplete li {
	width: 92%;
	padding: 5px 4%;
	border-bottom: solid 1px #ccc;
	cursor: pointer;
}

.breakfast-autocomplete li:hover,.lunch-autocomplete li:hover,.dinner-autocomplete li:hover,.snack-autocomplete li:hover {
	background: #4695cf;
	color: white;
}

.panel-main.blackBoxFix {
    transform: translate3d(1px, 0, 0);
    -moz-transform: translate3d(1px, 0, 0);
    -webkit-transform: translate3d(1px, 0, 0);
}